/* ----- Body ----- */

body {
    overflow-x: hidden;
    background-color: #f4f9ff;
}

/* ----- Navigation Bar ----- */

.navbar {
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.507)!important;
    overflow-x: hidden;
    
}

.navbar li {
    display: inline;
    padding-right: 20px;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    padding-left: 40px;
}
.navbar-dark .navbar-nav .nav-link.active{
    color: rgb(255, 255, 255);
}
.navbar-dark .navbar-nav .nav-link {
    color: #84bae9;
    border-bottom: 2px solid transparent;
    transition: 0.4s;
    border-start-end-radius: 50px;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #84bae9;
    border-bottom: 2px solid #84bae9;
}

.fixed-top {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* ----- Home ----- */

.caption {
    width: 100%;
    max-width: 100%;
    padding-top: 250px;
    padding-bottom: 100px;
    /*background-color: #e3eef5;*/
    background-image: linear-gradient(to bottom, #e3eef5 0%, #d1edff 80%, rgba(255, 255, 255, 0) 100%);
    height: auto;
}

.caption h1 {
    font-size: 2.5em;
    font-family: 'Expletus Sans', cursive;
    color: #84bae9;
    font-weight: bold;
}

.caption h3 {
    font-size: 1.5rem;
    text-shadow: .1rem .1rem .8rem #4facfeb2;
    padding-bottom: 1rem;
    color: #84bae9;
}

.logo-gs {
    width: 150px;
    padding-bottom: 30px;
}
.btn-lg {
    padding: 0.6rem 2.5rem;
    font-size: 1.1rem;
    border-radius: 100px;
    margin-top: 35px;
    color: #fff;
    margin-bottom: 35px;
    cursor: pointer;
    transition: 0.5s;
    background-color: #2c78a5;
    border-color: transparent;
}
.btn-lg:before {
   background-color: #fff; 
}
.btn-lg:hover {
    color: rgb(255, 255, 255);
    border-color: transparent;
}

/* ----- About ----- */

#aboutme {
    padding: 150px 100px;  
   /* background-image: url("../img/mis/aboutbgNew.png");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.aboutme-heading {
    font-family: 'Expletus Sans', cursive;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.heading-underline {
    width: 8rem;
    height: .2rem;
    background-color: #84bae9;
    margin: 0 auto 2rem;
}

.heading-underline-about {
    width: 8rem;
    height: .2rem;
    background-color: #2c78a5;
    margin: 0 auto 2rem;
}

#aboutme h3 {
    font-family: 'Expletus Sans', cursive;
    font-weight: bold;
    color: #84bae9;
    font-size: 1.5rem;
}

#aboutme p {
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
}

/* ----- Skills ----- */

#skills {
    padding: 80px 80px; 
    background-image: linear-gradient(to bottom, #42424200 0%, rgb(216, 216, 216) 50%, rgba(221, 240, 255, 0) 100%);
}
.skill-heading {
    font-family: 'Expletus Sans', cursive;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    margin-bottom: .2rem;
    color: rgb(44, 44, 44);
    margin-top: 50px;
}
.skillcontainer{
    /*background-image: linear-gradient(to bottom, #434343 0%, black 100%);*/
    border-radius: 45px;
    transform: translateY(-200px);
    padding: 20px 20px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
#skills h3 {
    font-family: 'Expletus Sans', cursive;
    color: #4da1eb;
    font-size: 1.5rem;
}

#skills p {
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
    color: rgb(88, 88, 88);
}

.skills-icon {
    color: steelblue;
    font-size: 3rem;
    margin-bottom: 20px;
}
.skill-box{
    transition: all 0.4s;
    padding: 50px 50px;
    margin: 10px 10px;
    border-radius: 5px;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace1f988 100%);
}

.skill-box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px 50px;
    margin: 10px 10px;
    border-radius: 5px;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace1f988 100%);
}
.myprogress{
    position: relative;
}

.progress{
    position: absolute;
        bottom: 0;
        width: 70%;
        padding-top: -20px;
        margin-bottom: 20px;
}
.quote-div{
    text-align: center;
    background-image: url("../img/mis/electronic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 10px;
}
.myquote{
    font-family: 'Leckerli One', cursive;
    margin-top: -120px;
    padding-top: 30px;
    color: #ce8c35;
}
.resume{
    display: inline-block;
}
/* ----- Work ----- */
#work{
    padding-bottom: 100px;
}
.worksubtitle {
    color: black;
    font-family: 'Expletus Sans', cursive;
    padding-top: 1.5rem;
    font-size: 1.5rem;
}

.worksubtitle::before {
    content: ':';
    color: #4facfe;
}

.worksubtitle::after {
    content: ':';
    color: #4facfe;
}

.carousel {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}

.work-heading {
    font-family: 'Expletus Sans', cursive;
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
    text-align: center;
    margin-bottom: .2rem;
}
#work-container{
    padding-bottom: 3rem;
}
/* ----- Work-Portfolio ----- */

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}
.dev-box{
    border: 1px solid #36363625;
    border-bottom-left-radius: 15px;
    transition: all 0.4s;
}

.dev-box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-detail{
    text-align: center;
    color: #00395c;
    transition: 0.5s;
    font-weight: 600;
}
.live-demo-btn{
    text-decoration: none;
    border: 1.5px solid #4facfe;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px 5px;
    background-color: #4facfe;
    color: white;
    transition: 0.3s;
}
.live-demo-btn:hover{
    text-decoration: none;
    color: #4facfe;
    background-color: transparent;
}
.portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(49, 49, 49, 0.5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px auto;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.portfolio-box:focus {
    outline: none;
}

@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}


/* ----- CONTACT ----- */
#contactme{
    background-color: #232323; 
    padding-bottom: 50px;
    background-image: url("../img/mis/contactbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-heading {
    font-family: 'Expletus Sans', cursive;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    margin-bottom: .2rem;
    color: rgb(255, 255, 255);
    padding-top: 50px;
}
.social {
    text-align: center;
    padding: 50px 50px;
    z-index: 10;
}

.social-list{
    background-color: #363636;
    border-radius: 20px;
}

.social-list li {
    padding: 15px;
    font-size: 1.5em;
    list-style-type: none;
    display: inline-block;
}
.social-link{
    transition: 0.4s;
}

.social-link {
    text-decoration: none;
    filter: grayscale(50);
}

.circle {
    color: whitesmoke;
}

.lin:hover {
    /*Linkedin*/
    filter: grayscale(0);
    color: #007bb5;
}

.fb:hover {
    /*Facebook*/
    filter: grayscale(0);
    color: #3b5998;
}

.tweet:hover {
    /*Twitter*/
    filter: grayscale(0);
    color: #1da1f2;
}

.ml:hover {
    /*Mail*/
    filter: grayscale(0);
    color: rgb(49, 119, 250);
}

.wa:hover {
    /*Whatsapp*/
    filter: grayscale(0);
    color:#25d366;
}

.portrait img {
    width: 100px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.portrait h4 {
    color: whitesmoke;
    font-family: 'Expletus Sans', cursive;
    font-size: 1.5rem;
    padding-bottom: 15px;
}

.mapouter{
    text-align:right;
    height:500px;
    width:100%;
    
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:100%;
    border-radius: 10px;
}

.contact-box{
    background-color: rgba(41, 40, 40, 0.733);
    border-radius: 10px;
    padding: 25px 25px;
}

/* ----- FOOTER ----- */

.footer {
    line-height: 40px;
    background-color: rgba(28, 28, 28, 0.712);
    border-radius: 10px;
}

.footer p {
    color: rgb(99, 99, 99);
    text-align: center;
    font-size: 14px;
}

/* ----- All Media ----- */
/* Large desktop */

@media (min-width: 1200px) {

    .contact-social{
        padding-top: 80px;
    }
    
}

/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    .carousel {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1.5rem;
        padding-bottom: 2.5rem;
    }
    .navbar{
        text-align: center;
        width: 100%;
    }
    .logo-gs {
        width: 20%;
    }
    .lin {
        /*Linkedin*/
        filter: grayscale(0);
        color: #007bb5;
    }
    
    .fb {
        /*Facebook*/
        filter: grayscale(0);
        color: #3b5998;
    }
    
    .tweet {
        /*Twitter*/
        filter: grayscale(0);
        color: #1da1f2;
    }
    
    .ml {
        /*Mail*/
        filter: grayscale(0);
        color: rgb(49, 119, 250);
    }
    
    .wa {
        /*Whatsapp*/
        filter: grayscale(0);
        color:#25d366;
    }
    
}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .carousel {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1.5rem;
        padding-bottom: 2.5rem;
    }
    .navbar{
        text-align: center;
        width: 100%;
    }
    .logo-gs {
        width: 25%;
    }
    .lin {
        /*Linkedin*/
        filter: grayscale(0);
        color: #007bb5;
    }
    
    .fb {
        /*Facebook*/
        filter: grayscale(0);
        color: #3b5998;
    }
    
    .tweet {
        /*Twitter*/
        filter: grayscale(0);
        color: #1da1f2;
    }
    
    .ml {
        /*Mail*/
        filter: grayscale(0);
        color: rgb(49, 119, 250);
    }
    
    .wa {
        /*Whatsapp*/
        filter: grayscale(0);
        color:#25d366;
    }
    
}

/* Landscape phones and down */

@media (max-width: 480px) {
    body {
        overflow-x: hidden;
    }
    .carousel {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1.5rem;
        padding-bottom: 2.5rem;
    }
    .navbar{
        text-align: center;
        width: 100%;
    }
    .logo-gs {
        width: 25%;
    }
    .caption h1{
        font-size: 2rem;
    }
    .caption h3{
        font-size: 1rem;
    }
    .lin {
        /*Linkedin*/
        filter: grayscale(0);
        color: #007bb5;
    }
    
    .fb {
        /*Facebook*/
        filter: grayscale(0);
        color: #3b5998;
    }
    
    .tweet {
        /*Twitter*/
        filter: grayscale(0);
        color: #1da1f2;
    }
    
    .ml {
        /*Mail*/
        filter: grayscale(0);
        color: rgb(49, 119, 250);
    }
    
    .wa {
        /*Whatsapp*/
        filter: grayscale(0);
        color:#25d366;
    }
}